<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--Rutas Procesamiento PRE-->
    <add key="RutaEntrada" value="C:\ProcesoCoomeva\Entrada" /> 
     <add key="RutaOriginales" value="C:\ProcesoCoomeva\Originales" /> 
     <add key="RutaSalida" value="C:\ProcesoCoomeva\Salida" /> 
     <add key="RutaInsumos" value="C:\ProcesoCoomeva\Insumos" /> 
     <add key="RutaLog" value="C:\ProcesoCoomeva\Log.txt" /> 
     <add key="RutaLogCantidades" value="C:\ProcesoCoomeva\Insumos\HistoricoCantidades.log" />

    <!--Rutas Procesamiento PRU-->
    <!--<add key="RutaEntrada" value="C:\Users\diatecht\Desktop\Proyecto\DC\Entrada" />
    <add key="RutaOriginales" value="C:\Users\diatecht\Desktop\Proyecto\DC\Originales" />
    <add key="RutaSalida" value="C:\Users\diatecht\Desktop\Proyecto\DC\Salida" />
    <add key="RutaInsumos" value="C:\Users\diatecht\Desktop\Proyecto\DC\Insumos" />
    <add key="RutaLog" value="C:\Users\diatecht\Desktop\Proyecto\DC\Log.txt" />
    <add key="RutaLogCantidades" value="C:\Users\diatecht\Desktop\Proyecto\DC\Insumos\HistoricoCantidades.log" />-->

    <!--FTPs DELTA y archivos iniciales-->
    <add key="FtpDireccionDelta" value="192.168.157.34" />
    <add key="FtpPuertoDelta" value="2222" />
    <add key="FtpUsuarioDelta" value="f1procesamiento" />
    <add key="FtpClaveDelta" value="mikil3t=01$22*34" />
    <add key="FtpDireccionCoomeva" value="192.168.157.34" />
    <add key="FtpPuertoCoomeva" value="2222" />
    <add key="FtpUsuarioCoomeva" value="coomevaauxiliares" />
    <add key="FtpClaveCoomeva" value="KIvcnj3Ky" />

    <!--Datos WebService DELTA-->
    <add key="RutaFtp" value="/mnt/storage/ftp/procesamiento/FAEN" />
    <add key="RutaFtpMail" value="/mnt/storage/ftp/procesamiento/adjuntos_en_linea" />
    <add key="RutaFtpSalidas" value="/mnt/storage/ftp/procesamiento/salidas/" />
    <add key="UserWebService" value="wscarvajal05" />
    <add key="Password" value="/*-sc45rva*JaY05" />

    <add key="CodigoCliente" value="13" />
    <add key="CodigoProcesoVirtual" value="1" />
    <add key="CodigoProcesoFisico" value="1" />
    <add key="ConfiguracionMapeoVirtual" value="000" />
    <add key="ConfiguracionMapeoFisica" value="1080" />
    <add key="TipoCargueVirtual" value="2" />
    <add key="TipoCargueFisico" value="5" />
    <add key="CodigoCourier" value="-2" />
    <add key="EmailCertificadoVirtual" value="true" />
    <add key="EmailCertificadoFisico" value="false" />
    <add key="TipoArchivo" value="base" />
    <add key="ReordenamientoVirtual" value="true" />
    <add key="ReordenamientoFisico" value="true" />
    <add key="Publicacion" value="true" />
    <add key="Delimitador" value=";" />
    <add key="InicioExtractoSpool" value="" />
    <add key="CampoCrucePDF" value="30" />


  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.31.0.0" newVersion="0.31.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>